<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <title>Minex</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{% static '/favicon.ico' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}" />
    <link rel="stylesheet" href="{% static 'minex.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>
<body>
    <header class="container">
        <div style="position: relative">
            <img src="{% static 'logo1.png' %}" alt="logo" style="height: 200px" />
            <form class="form-inline search-bar" action="{% url 'search-result' %}" method="get">
                <label>
                    <input class="form-control mr-sm-2" name="q" type="text" placeholder="Szukaj" />
                </label>
                {% buttons %}
                    <button class="btn btn-success" type="submit">Szukaj</button>
                {% endbuttons %}
            </form>
        </div>
        <nav class="navbar navbar-expand-md bg-dark navbar-white" style="margin-bottom: 20px">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mine-list' %}">Lista obiektów</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'map-display' %}">Mapa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <p>Zalogowany: {{ user.username }} <button type="button" class="btn btn-primary">
                            <a href="{% url 'logout' %}" style="text-decoration: none; color: white">
                            Wyloguj</a></button></p>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% block content %}

{% endblock %}

{#{% block footer %}#}
{#<footer class="container">#}
{#    {% if user.is_authenticated %}#}
{#        <p style="display: inline">Witaj {{ user.username }}</p> <button type="button"><a href="logout/">Wyloguj się</a></button>#}
{#    {% else %}#}
{#        <p style="display: inline ">Zostałeś wylogowany</p> <button type="button"><a href="login2/">Zaloguj się</a></button>#}
{#    {% endif %}#}
{#</footer>#}
{#{% endblock %}#}
</body>
</html>