{% extends 'base.html' %}
{% block content %}
    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css %}

    <style>
        /* Make the image fully responsive */
        .carousel-inner img {

          width: 100%;
          height: 100%;
        }
    </style>
<div class="container">
    <div class="pb-5">
        <h2>Witam na stronie! Znajdziecie tutaj różne obiekty górnicze z całego świata.</h2>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <p>Tutaj będą obrazki załączonych kopalni.</p>
            </div>
            <div class="carousel-item">
                <p>Tutaj będą obrazki załączonych kopalni.</p>
            </div>
            <div class="carousel-item">
{#                <img src="{% static 'img1.jpg' %}" alt="img1">#}
                <p>Tutaj będą obrazki załączonych kopalni.</p>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
{% endblock %}