{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
    {% bootstrap_css %}
    <div class="container">
        <form class="form-inline" action="#" method="post">
        {% csrf_token %}
        {{ form }}
        {% buttons %}
            <button type="submit" class="btn btn-success">Zaloguj</button>
        {% endbuttons %}
        </form>
    </div>
    <div class="container" style="padding-top: 1%">
        <h6>Nie masz konta? <a href="{% url 'add-user' %}">Zarejestruj</a></h6>
    </div>
{% endblock %}