{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
    {% bootstrap_css %}
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    <div class="leaflet-container container">
    {% leaflet_map "main" %}
    <style>

    .leaflet-container {  /* all maps */
        width:  100%;
        height: 700px;
    }

    #specialbigmap {
        height: 800px;
    }

    /* Resize the "display_raw" textbox */
    .django-leaflet-raw-textarea {
        width: 100%;
    }

    </style>

    <script type="text/javascript">
        let dataurl = '{% url "data" %}';

        window.addEventListener("map:init", function (event) {
            let map = event.detail.map;
            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function(resp) {
                    return resp.json();
                })
                .then(function(data) {
                    L.geoJson(data, {
                        onEachFeature: function onEachFeature(feature, layer) {
                            let props = feature.properties;
                            let content = `<img width="300" src="${props.images_url}"/><h3><a href="{% url "mine-list" %}">${props.name}</a></h3><p>${props.description}</p>`;
                            layer.bindPopup(content);
                        }}).addTo(map);
                });
            });

    </script>
    </div>
{% endblock %}