{% extends 'base.html' %}
{% block content %}
{% load bootstrap4 %}
    {% bootstrap_css %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-">
                    <h3>{{ mine.name }}</h3>
                </div>
                <div class="col-md-">
                    <p>{{ mine.description }}</p>
                </div>
                <div class="col-md-">
                    <p>Województwo: {{ mine.get_voivodeship_display }}</p>
                </div>
                <div class="col-md-">
                    <p>Współrzędne geograficzne: <a href="{% url 'map-display' %}">{{ mine.geom.coords }}</a></p>
                </div>
                {% if user.is_authenticated %}
                    {% buttons %}
                    <button type="button" class="btn btn-primary"><a href="{% url 'mine-edit' mine.id %}" style="text-decoration: none; color: white">Edytuj</a></button>
                    {% endbuttons %}
                {% endif %}
                <div class="card-body">
                    {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">
                            <p class="font-weight-bold">
                                {{ comment.user_name }}
                                <span class="font-weight-normal" style="font-size: small">
                                    {{ comment.created_on }}
                                </span>
                            </p>
                            {{ comment.body | linebreaks }}
                        </div>
                    {% endfor %}
                    <h3>Zostaw komentarz</h3>
                    <form method="post" action="">
                    {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary  btn-lg">Zamieść komentarz</button>
                        {% endbuttons %}
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{{ mine.images.url }}" alt="Obrazek" class="img-thumbnail" style="width: 70%">
            </div>
        </div>
    </div>
{% endblock %}